VITE_API_BASE_URL=http://localhost:5000

VITE_FIREBASE_API_KEY=AIzaSyApxYI2azYkqbGzgXfRMXud3dujGWKLJxU
VITE_FIREBASE_AUTH_DOMAIN=uptoskills-73c02.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=uptoskills-73c02
VITE_FIREBASE_STORAGE_BUCKET=uptoskills-73c02.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=644173031336
VITE_FIREBASE_APP_ID=1:644173031336:web:ef40d969c9c2784628df9d
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_51TOx66Gkjm07ela8qFPW55iEn6p1Pskk5RgIjICkKAkZAW8R9iAsmiB2ZQlPFw86fXEnWiLm9JWQsvPuCV1FT3h90004JLKDw7
